{
  "openapi": "3.1.0",
  "info": {
    "title": "Agent API",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://agp.eu.hcompany.ai"
    }
  ],
  "paths": {
    "/api/v2/sessions": {
      "post": {
        "tags": [
          "Sessions"
        ],
        "summary": "Create Session",
        "description": "Create an agentic session.\n\nPass ``Idempotency-Key`` for safe retries: identical requests within 24h\nreturn the original session; reuse with a different body returns 422.",
        "operationId": "create_session_api_v2_sessions_post",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "minLength": 1,
                  "maxLength": 255
                },
                {
                  "type": "null"
                }
              ],
              "title": "Idempotency-Key"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SessionRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Session"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "Sessions"
        ],
        "summary": "List Sessions",
        "description": "List sessions visible to ``user``.",
        "operationId": "list_sessions_api_v2_sessions_get",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "owner",
            "in": "query",
            "required": false,
            "schema": {
              "enum": [
                "me",
                "me-in-organization",
                "organization",
                "me-or-organization"
              ],
              "type": "string",
              "default": "me-in-organization",
              "title": "Owner"
            }
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/TrajectoryStatus"
                  }
                },
                {
                  "type": "null"
                }
              ],
              "title": "Status"
            }
          },
          {
            "name": "agent",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                {
                  "type": "null"
                }
              ],
              "title": "Agent"
            }
          },
          {
            "name": "group_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Group Id"
            }
          },
          {
            "name": "parent_session_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Parent Session Id"
            }
          },
          {
            "name": "search",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Case-insensitive match on the session's first message or answer.",
              "title": "Search"
            },
            "description": "Case-insensitive match on the session's first message or answer."
          },
          {
            "name": "created_before",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "format": "date-time"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Created Before"
            }
          },
          {
            "name": "created_after",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "format": "date-time"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Created After"
            }
          },
          {
            "name": "finished_before",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "format": "date-time"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Finished Before"
            }
          },
          {
            "name": "finished_after",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "format": "date-time"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Finished After"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "description": "Page number (1-based)",
              "default": 1,
              "title": "Page"
            },
            "description": "Page number (1-based)"
          },
          {
            "name": "size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 1000,
              "minimum": 1,
              "description": "Number of items per page",
              "default": 10,
              "title": "Size"
            },
            "description": "Number of items per page"
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "array",
                  "items": {
                    "enum": [
                      "created_at",
                      "-created_at"
                    ],
                    "type": "string"
                  }
                },
                {
                  "type": "null"
                }
              ],
              "description": "Sort by field",
              "default": [
                "-created_at"
              ],
              "title": "Sort"
            },
            "description": "Sort by field"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Page_SessionSummary_"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/sessions/quota": {
      "get": {
        "tags": [
          "Sessions"
        ],
        "summary": "Get Session Quota",
        "description": "Concurrent-session quota for the authenticated user.",
        "operationId": "get_session_quota_api_v2_sessions_quota_get",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QuotaStatus"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "HTTPBearer": []
          }
        ]
      }
    },
    "/api/v2/sessions/{id}": {
      "get": {
        "tags": [
          "Sessions"
        ],
        "summary": "Get Session",
        "description": "Get a session.",
        "operationId": "get_session_api_v2_sessions__id__get",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Session"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Sessions"
        ],
        "summary": "Cancel Session",
        "description": "Cancel the session.",
        "operationId": "cancel_session_api_v2_sessions__id__delete",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Id"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Successful Response"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/sessions/{id}/status": {
      "get": {
        "tags": [
          "Sessions"
        ],
        "summary": "Get Session Status",
        "description": "Get a session's live status.",
        "operationId": "get_session_status_api_v2_sessions__id__status_get",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SessionStatus"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/sessions/{id}/messages": {
      "post": {
        "tags": [
          "Sessions"
        ],
        "summary": "Send Session Messages",
        "description": "Send a user message (single or batch).",
        "operationId": "send_session_messages_api_v2_sessions__id__messages_post",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Id"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/UserMessageEvent"
                  },
                  {
                    "$ref": "#/components/schemas/UserMessageBatch"
                  }
                ],
                "discriminator": {
                  "propertyName": "type",
                  "mapping": {
                    "user_message": "#/components/schemas/UserMessageEvent",
                    "batch": "#/components/schemas/UserMessageBatch"
                  }
                },
                "title": "Input"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Successful Response"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/sessions/{id}/pause": {
      "post": {
        "tags": [
          "Sessions"
        ],
        "summary": "Pause Session",
        "description": "Pause the session.",
        "operationId": "pause_session_api_v2_sessions__id__pause_post",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Id"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Successful Response"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/sessions/{id}/resume": {
      "post": {
        "tags": [
          "Sessions"
        ],
        "summary": "Resume Session",
        "description": "Resume the session.",
        "operationId": "resume_session_api_v2_sessions__id__resume_post",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Id"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Successful Response"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/sessions/{id}/force_answer": {
      "post": {
        "tags": [
          "Sessions"
        ],
        "summary": "Force Session Answer",
        "description": "Ask the agent to emit a final answer on its next step.",
        "operationId": "force_session_answer_api_v2_sessions__id__force_answer_post",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Id"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Successful Response"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/sessions/{id}/changes": {
      "get": {
        "tags": [
          "Sessions"
        ],
        "summary": "Get Session Changes",
        "description": "Long-poll for new events since ``from_index``; 204 if none arrive within ``wait_for_seconds``.",
        "operationId": "get_session_changes_api_v2_sessions__id__changes_get",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Id"
            }
          },
          {
            "name": "from_index",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 0,
              "title": "From Index"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "integer",
                  "minimum": 0
                },
                {
                  "type": "null"
                }
              ],
              "title": "Limit"
            }
          },
          {
            "name": "include_events",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": true,
              "title": "Include Events"
            }
          },
          {
            "name": "wait_for_seconds",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 25,
              "minimum": 0,
              "default": 0,
              "title": "Wait For Seconds"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrajectoryChanges"
                }
              }
            }
          },
          "204": {
            "description": "No changes since the specified index"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/sessions/{id}/events": {
      "get": {
        "tags": [
          "Sessions"
        ],
        "summary": "List Session Events",
        "description": "Paginated event history. Use ``/changes`` for live tailing.",
        "operationId": "list_session_events_api_v2_sessions__id__events_get",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Id"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1,
              "title": "Page"
            }
          },
          {
            "name": "size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 200,
              "minimum": 1,
              "default": 50,
              "title": "Size"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "array",
                  "items": {
                    "enum": [
                      "timestamp",
                      "-timestamp"
                    ],
                    "type": "string"
                  }
                },
                {
                  "type": "null"
                }
              ],
              "title": "Sort"
            }
          },
          {
            "name": "type",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Type"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Page_TrajectoryEvent_"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/sessions/{id}/feedback": {
      "post": {
        "tags": [
          "Sessions"
        ],
        "summary": "Submit Session Feedback",
        "description": "Record semantic-success feedback on the whole session.",
        "operationId": "submit_session_feedback_api_v2_sessions__id__feedback_post",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Id"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Feedback"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "Successful Response"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/sessions/{id}/events/{event_index}/feedback": {
      "put": {
        "tags": [
          "Sessions"
        ],
        "summary": "Submit Event Feedback",
        "description": "Record feedback on a single event in the session's history.",
        "operationId": "submit_event_feedback_api_v2_sessions__id__events__event_index__feedback_put",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Id"
            }
          },
          {
            "name": "event_index",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "title": "Event Index"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Feedback"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "Successful Response"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/sessions/{id}/share": {
      "post": {
        "tags": [
          "Sessions"
        ],
        "summary": "Share Session",
        "description": "Make the session publicly readable; returns the share URL path.",
        "operationId": "share_session_api_v2_sessions__id__share_post",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ShareLink"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Sessions"
        ],
        "summary": "Unshare Session",
        "description": "Revoke public access to the session.",
        "operationId": "unshare_session_api_v2_sessions__id__share_delete",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Id"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Successful Response"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/sessions/{id}/resources/{bucket}/{key}": {
      "get": {
        "tags": [
          "Sessions"
        ],
        "summary": "Get Session Resource",
        "description": "Redirect to a presigned S3 URL for a session-owned resource.",
        "operationId": "get_session_resource_api_v2_sessions__id__resources__bucket___key__get",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Id"
            }
          },
          {
            "name": "bucket",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Bucket"
            }
          },
          {
            "name": "key",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Key"
            }
          }
        ],
        "responses": {
          "302": {
            "description": "Redirect to a presigned URL for a session-owned resource."
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/skills": {
      "post": {
        "tags": [
          "Skills"
        ],
        "summary": "Create Skill",
        "description": "Create a skill. The ``h/`` namespace is reserved for built-in skills.",
        "operationId": "create_skill_api_v2_skills_post",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Skill"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Skill"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "Skills"
        ],
        "summary": "List Skills",
        "description": "List reserved + caller's org skills, optionally filtered by name or text search.",
        "operationId": "list_skills_api_v2_skills_get",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "name",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Case-insensitive substring match on skill name.",
              "title": "Name"
            },
            "description": "Case-insensitive substring match on skill name."
          },
          {
            "name": "search",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Case-insensitive match on skill name or description.",
              "title": "Search"
            },
            "description": "Case-insensitive match on skill name or description."
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "description": "Page number (1-based)",
              "default": 1,
              "title": "Page"
            },
            "description": "Page number (1-based)"
          },
          {
            "name": "size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 1000,
              "minimum": 1,
              "description": "Number of items per page",
              "default": 10,
              "title": "Size"
            },
            "description": "Number of items per page"
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "array",
                  "items": {
                    "enum": [
                      "created_at",
                      "-created_at",
                      "name",
                      "-name"
                    ],
                    "type": "string"
                  }
                },
                {
                  "type": "null"
                }
              ],
              "description": "Sort by field",
              "default": [
                "-created_at"
              ],
              "title": "Sort"
            },
            "description": "Sort by field"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Page_Skill_"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/skills/{name}": {
      "get": {
        "tags": [
          "Skills"
        ],
        "summary": "Get Skill",
        "description": "Fetch by name; 404 if not visible. ``:path`` so slash-containing names round-trip.",
        "operationId": "get_skill_api_v2_skills__name__get",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Name"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Skill"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Skills"
        ],
        "summary": "Update Skill",
        "description": "Replace a skill's content. ``name`` must match the URL identifier; renames are not supported.",
        "operationId": "update_skill_api_v2_skills__name__put",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Name"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Skill"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Skill"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Skills"
        ],
        "summary": "Delete Skill",
        "description": "Delete by name. Reserved rows: H employee only.",
        "operationId": "delete_skill_api_v2_skills__name__delete",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Name"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Successful Response"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/environments": {
      "post": {
        "tags": [
          "Environments"
        ],
        "summary": "Create Environment",
        "description": "Create an environment.",
        "operationId": "create_environment_api_v2_environments_post",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/Browser"
                  }
                ],
                "discriminator": {
                  "propertyName": "kind",
                  "mapping": {
                    "web": "#/components/schemas/Browser"
                  }
                },
                "title": "Create"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/Browser"
                    }
                  ],
                  "discriminator": {
                    "propertyName": "kind",
                    "mapping": {
                      "web": "#/components/schemas/Browser"
                    }
                  },
                  "title": "Response Create Environment Api V2 Environments Post"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "Environments"
        ],
        "summary": "List Environments",
        "description": "List reserved + caller's org environments.",
        "operationId": "list_environments_api_v2_environments_get",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Case-insensitive substring match on environment id.",
              "title": "Id"
            },
            "description": "Case-insensitive substring match on environment id."
          },
          {
            "name": "kind",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "$ref": "#/components/schemas/EnvironmentKind"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Filter by environment kind.",
              "title": "Kind"
            },
            "description": "Filter by environment kind."
          },
          {
            "name": "search",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Case-insensitive match on environment id or description.",
              "title": "Search"
            },
            "description": "Case-insensitive match on environment id or description."
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "description": "Page number (1-based)",
              "default": 1,
              "title": "Page"
            },
            "description": "Page number (1-based)"
          },
          {
            "name": "size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 1000,
              "minimum": 1,
              "description": "Number of items per page",
              "default": 10,
              "title": "Size"
            },
            "description": "Number of items per page"
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "array",
                  "items": {
                    "enum": [
                      "created_at",
                      "-created_at",
                      "id",
                      "-id"
                    ],
                    "type": "string"
                  }
                },
                {
                  "type": "null"
                }
              ],
              "description": "Sort by field",
              "default": [
                "-created_at"
              ],
              "title": "Sort"
            },
            "description": "Sort by field"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EnvironmentPage"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/environments/{id}": {
      "get": {
        "tags": [
          "Environments"
        ],
        "summary": "Get Environment",
        "description": "Fetch by identifier; 404 if not visible. ``:path`` so slash-containing ids round-trip.",
        "operationId": "get_environment_api_v2_environments__id__get",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/Browser"
                    }
                  ],
                  "discriminator": {
                    "propertyName": "kind",
                    "mapping": {
                      "web": "#/components/schemas/Browser"
                    }
                  },
                  "title": "Response Get Environment Api V2 Environments  Id  Get"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Environments"
        ],
        "summary": "Update Environment",
        "description": "Replace the environment spec.",
        "operationId": "update_environment_api_v2_environments__id__put",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Id"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/Browser"
                  }
                ],
                "discriminator": {
                  "propertyName": "kind",
                  "mapping": {
                    "web": "#/components/schemas/Browser"
                  }
                },
                "title": "Update"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/Browser"
                    }
                  ],
                  "discriminator": {
                    "propertyName": "kind",
                    "mapping": {
                      "web": "#/components/schemas/Browser"
                    }
                  },
                  "title": "Response Update Environment Api V2 Environments  Id  Put"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Environments"
        ],
        "summary": "Delete Environment",
        "description": "Delete by identifier. Reserved rows: H employee only.",
        "operationId": "delete_environment_api_v2_environments__id__delete",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Id"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Successful Response"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/agents": {
      "post": {
        "tags": [
          "Agents"
        ],
        "summary": "Create Agent",
        "description": "Create an agent..",
        "operationId": "create_agent_api_v2_agents_post",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Agent"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Agent"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "Agents"
        ],
        "summary": "List Agents",
        "description": "List reserved + caller's org agents.",
        "operationId": "list_agents_api_v2_agents_get",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "agent_name",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Case-insensitive substring match on agent name.",
              "title": "Agent Name"
            },
            "description": "Case-insensitive substring match on agent name."
          },
          {
            "name": "search",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Case-insensitive match on agent name or description.",
              "title": "Search"
            },
            "description": "Case-insensitive match on agent name or description."
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "description": "Page number (1-based)",
              "default": 1,
              "title": "Page"
            },
            "description": "Page number (1-based)"
          },
          {
            "name": "size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 1000,
              "minimum": 1,
              "description": "Number of items per page",
              "default": 10,
              "title": "Size"
            },
            "description": "Number of items per page"
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "array",
                  "items": {
                    "enum": [
                      "created_at",
                      "-created_at",
                      "agent_name",
                      "-agent_name"
                    ],
                    "type": "string"
                  }
                },
                {
                  "type": "null"
                }
              ],
              "description": "Sort by field",
              "default": [
                "-created_at"
              ],
              "title": "Sort"
            },
            "description": "Sort by field"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Page_Agent_"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/agents/{agent_name}": {
      "get": {
        "tags": [
          "Agents"
        ],
        "summary": "Get Agent",
        "description": "Fetch by identifier; 404 if not visible. ``:path`` so slash-containing ids round-trip.",
        "operationId": "get_agent_api_v2_agents__agent_name__get",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "agent_name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Agent Name"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Agent"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Agents"
        ],
        "summary": "Update Agent",
        "description": "Replace ``spec``. ``spec.name`` must match the URL identifier; renames are not supported.",
        "operationId": "update_agent_api_v2_agents__agent_name__put",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "agent_name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Agent Name"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Agent"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Agent"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Agents"
        ],
        "summary": "Delete Agent",
        "description": "Delete by identifier. Reserved rows: H employee only.",
        "operationId": "delete_agent_api_v2_agents__agent_name__delete",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "agent_name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Agent Name"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Successful Response"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Agent": {
        "properties": {
          "name": {
            "type": "string",
            "maxLength": 127,
            "minLength": 1,
            "title": "Name",
            "description": "Unique name for this agent in your catalog. Format: lowercase ASCII letters, digits and hyphens; must start and end with alphanumeric; max 63 chars per segment; optional single 'org/' namespace prefix (e.g. 'h/web-environment')."
          },
          "description": {
            "type": "string",
            "minLength": 1,
            "title": "Description",
            "description": "What the agent does. Parent agents read this to decide when to delegate to it."
          },
          "environments": {
            "items": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/Browser"
                    }
                  ],
                  "discriminator": {
                    "propertyName": "kind",
                    "mapping": {
                      "web": "#/components/schemas/Browser"
                    }
                  }
                }
              ]
            },
            "type": "array",
            "title": "Environments",
            "description": "Environments the agent runs in. Each entry is a registered environment's id or an inline definition. At least one, at most one per kind."
          },
          "model": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Model",
            "description": "Model that serves the agent. Defaults to the platform model if omitted."
          },
          "instructions": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Instructions",
            "description": "Instructions appended to the agent's system prompt to steer behavior."
          },
          "subagents": {
            "anyOf": [
              {
                "items": {
                  "anyOf": [
                    {
                      "type": "string"
                    },
                    {
                      "$ref": "#/components/schemas/Agent"
                    }
                  ]
                },
                "type": "array"
              },
              {
                "type": "null"
              }
            ],
            "title": "Subagents",
            "description": "Agents this one can delegate to. Each entry is a registered agent's name or an inline definition."
          },
          "skills": {
            "anyOf": [
              {
                "items": {
                  "anyOf": [
                    {
                      "type": "string"
                    },
                    {
                      "$ref": "#/components/schemas/Skill"
                    }
                  ]
                },
                "type": "array"
              },
              {
                "type": "null"
              }
            ],
            "title": "Skills",
            "description": "Skills the agent can draw on. Each entry is a registered skill's name or an inline definition."
          }
        },
        "type": "object",
        "required": [
          "name",
          "description",
          "environments"
        ],
        "title": "Agent",
        "description": "Declarative agent definition."
      },
      "Browser": {
        "properties": {
          "id": {
            "type": "string",
            "minLength": 1,
            "title": "Id",
            "description": "Catalog identifier for this environment."
          },
          "kind": {
            "type": "string",
            "const": "web",
            "title": "Kind",
            "default": "web"
          },
          "headless": {
            "type": "boolean",
            "title": "Headless",
            "description": "Run without a visible window."
          },
          "width": {
            "type": "integer",
            "exclusiveMinimum": 0.0,
            "title": "Width",
            "description": "Viewport width in pixels."
          },
          "height": {
            "type": "integer",
            "exclusiveMinimum": 0.0,
            "title": "Height",
            "description": "Viewport height in pixels."
          },
          "start_url": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Start Url",
            "description": "Initial URL to open. Null starts on a blank page."
          },
          "mode": {
            "type": "string",
            "enum": [
              "visual",
              "text",
              "multimodal"
            ],
            "title": "Mode",
            "description": "How the agent perceives and drives the browser. 'visual': act on screenshots by viewport coordinates. 'multimodal': the same, with the page also included as markdown text alongside each screenshot. 'text': read-only markdown with URL navigation, no screenshots.",
            "default": "visual"
          }
        },
        "type": "object",
        "required": [
          "id",
          "headless",
          "width",
          "height",
          "start_url"
        ],
        "title": "Browser",
        "description": "A local web browser the agent navigates and acts on."
      },
      "EnvironmentKind": {
        "type": "string",
        "enum": [
          "web",
          "code",
          "mcp",
          "memory"
        ],
        "title": "EnvironmentKind",
        "description": "Environment family."
      },
      "EnvironmentPage": {
        "properties": {
          "items": {
            "items": {
              "oneOf": [
                {
                  "$ref": "#/components/schemas/Browser"
                }
              ],
              "discriminator": {
                "propertyName": "kind",
                "mapping": {
                  "web": "#/components/schemas/Browser"
                }
              }
            },
            "type": "array",
            "title": "Items"
          },
          "total": {
            "type": "integer",
            "title": "Total"
          },
          "page": {
            "type": "integer",
            "title": "Page"
          }
        },
        "type": "object",
        "required": [
          "items",
          "total",
          "page"
        ],
        "title": "EnvironmentPage",
        "description": "Named page subclass so OpenAPI emits a clean ``EnvironmentPage`` schema name.\n\n``Environment`` is ``Annotated[Browser | CodeSandbox | MCP | Memory, Field(discriminator=\"kind\")]``\nand has no ``__name__``. Without this subclass, Pydantic titles ``Page[Environment]``\nby repr()ing the type parameter, producing a 95-char schema name that leaks\nPydantic FieldInfo into generated SDKs."
      },
      "Feedback": {
        "properties": {
          "success": {
            "type": "boolean",
            "title": "Success"
          },
          "message": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Message"
          }
        },
        "type": "object",
        "required": [
          "success"
        ],
        "title": "Feedback",
        "description": "Feedback on the semantic success of the trajectory."
      },
      "HTTPValidationError": {
        "properties": {
          "detail": {
            "items": {
              "$ref": "#/components/schemas/ValidationError"
            },
            "type": "array",
            "title": "Detail"
          }
        },
        "type": "object",
        "title": "HTTPValidationError"
      },
      "Metrics": {
        "properties": {
          "steps": {
            "type": "integer",
            "title": "Steps",
            "description": "Steps taken so far.",
            "default": 0
          },
          "cost_per_model": {
            "items": {
              "$ref": "#/components/schemas/ModelCost"
            },
            "type": "array",
            "title": "Cost Per Model",
            "description": "Per-model token usage and cost."
          },
          "input_cost": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ],
            "title": "Input Cost",
            "description": "Total input cost in USD; null if any model is unpriced."
          },
          "output_cost": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ],
            "title": "Output Cost",
            "description": "Total output cost in USD; null if any model is unpriced."
          },
          "reasoning_cost": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ],
            "title": "Reasoning Cost",
            "description": "Total reasoning cost in USD; null if any model is unpriced."
          },
          "total_cost": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ],
            "title": "Total Cost",
            "description": "Total cost in USD; null if any model is unpriced."
          }
        },
        "type": "object",
        "title": "Metrics",
        "description": "Rolled-up usage and cost for a session."
      },
      "ModelCost": {
        "properties": {
          "name": {
            "type": "string",
            "title": "Name",
            "description": "Model id."
          },
          "input_tokens": {
            "type": "integer",
            "title": "Input Tokens",
            "description": "Input tokens consumed."
          },
          "output_tokens": {
            "type": "integer",
            "title": "Output Tokens",
            "description": "Output tokens produced."
          },
          "reasoning_tokens": {
            "type": "integer",
            "title": "Reasoning Tokens",
            "description": "Reasoning tokens produced."
          },
          "input_cost": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ],
            "title": "Input Cost",
            "description": "Input cost in USD; null if the model is unpriced."
          },
          "output_cost": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ],
            "title": "Output Cost",
            "description": "Output cost in USD; null if the model is unpriced."
          },
          "reasoning_cost": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ],
            "title": "Reasoning Cost",
            "description": "Reasoning cost in USD; null if the model is unpriced."
          },
          "total_cost": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ],
            "title": "Total Cost",
            "description": "Total cost in USD; null if the model is unpriced."
          }
        },
        "type": "object",
        "required": [
          "name",
          "input_tokens",
          "output_tokens",
          "reasoning_tokens"
        ],
        "title": "ModelCost",
        "description": "Token usage and cost for a single model."
      },
      "ModelUsage": {
        "properties": {
          "name": {
            "type": "string",
            "title": "Name",
            "description": "Model id."
          },
          "input_tokens": {
            "type": "integer",
            "title": "Input Tokens",
            "description": "Input tokens consumed."
          },
          "output_tokens": {
            "type": "integer",
            "title": "Output Tokens",
            "description": "Output tokens produced."
          },
          "reasoning_tokens": {
            "type": "integer",
            "title": "Reasoning Tokens",
            "description": "Reasoning tokens produced."
          }
        },
        "type": "object",
        "required": [
          "name",
          "input_tokens",
          "output_tokens",
          "reasoning_tokens"
        ],
        "title": "ModelUsage",
        "description": "Per-model token usage."
      },
      "Page_Agent_": {
        "properties": {
          "items": {
            "items": {
              "$ref": "#/components/schemas/Agent"
            },
            "type": "array",
            "title": "Items"
          },
          "total": {
            "type": "integer",
            "title": "Total"
          },
          "page": {
            "type": "integer",
            "title": "Page"
          }
        },
        "type": "object",
        "required": [
          "items",
          "total",
          "page"
        ],
        "title": "Page[Agent]"
      },
      "Page_SessionSummary_": {
        "properties": {
          "items": {
            "items": {
              "$ref": "#/components/schemas/SessionSummary"
            },
            "type": "array",
            "title": "Items"
          },
          "total": {
            "type": "integer",
            "title": "Total"
          },
          "page": {
            "type": "integer",
            "title": "Page"
          }
        },
        "type": "object",
        "required": [
          "items",
          "total",
          "page"
        ],
        "title": "Page[SessionSummary]"
      },
      "Page_Skill_": {
        "properties": {
          "items": {
            "items": {
              "$ref": "#/components/schemas/Skill"
            },
            "type": "array",
            "title": "Items"
          },
          "total": {
            "type": "integer",
            "title": "Total"
          },
          "page": {
            "type": "integer",
            "title": "Page"
          }
        },
        "type": "object",
        "required": [
          "items",
          "total",
          "page"
        ],
        "title": "Page[Skill]"
      },
      "Page_TrajectoryEvent_": {
        "properties": {
          "items": {
            "items": {
              "$ref": "#/components/schemas/TrajectoryEvent"
            },
            "type": "array",
            "title": "Items"
          },
          "total": {
            "type": "integer",
            "title": "Total"
          },
          "page": {
            "type": "integer",
            "title": "Page"
          }
        },
        "type": "object",
        "required": [
          "items",
          "total",
          "page"
        ],
        "title": "Page[TrajectoryEvent]"
      },
      "QuotaStatus": {
        "properties": {
          "scope": {
            "type": "string",
            "enum": [
              "user",
              "org"
            ],
            "title": "Scope"
          },
          "limit": {
            "type": "integer",
            "title": "Limit"
          },
          "active": {
            "type": "integer",
            "title": "Active"
          },
          "available": {
            "type": "integer",
            "title": "Available"
          }
        },
        "type": "object",
        "required": [
          "scope",
          "limit",
          "active",
          "available"
        ],
        "title": "QuotaStatus",
        "description": "Quota status."
      },
      "Session": {
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "title": "Id"
          },
          "request": {
            "$ref": "#/components/schemas/SessionRequest"
          },
          "status": {
            "$ref": "#/components/schemas/SessionStatus"
          },
          "latest_answer": {
            "title": "Latest Answer",
            "description": "The agent's most recent final answer: free-form text, or structured data when the agent runs with a custom answer format. Null until the agent first answers. Mirrors the answer streamed from the changes endpoint, surfaced here for non-interactive runs."
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "title": "Created At"
          },
          "started_at": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "null"
              }
            ],
            "title": "Started At"
          },
          "finished_at": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "null"
              }
            ],
            "title": "Finished At"
          }
        },
        "additionalProperties": false,
        "type": "object",
        "required": [
          "id",
          "request",
          "status",
          "created_at"
        ],
        "title": "Session",
        "description": "Full session envelope: original request + live status."
      },
      "SessionRequest": {
        "properties": {
          "agent": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "$ref": "#/components/schemas/Agent"
              }
            ],
            "title": "Agent",
            "description": "Agent to run: a registered agent's name, or an inline Agent definition."
          },
          "messages": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "$ref": "#/components/schemas/UserMessageEvent"
              },
              {
                "items": {
                  "$ref": "#/components/schemas/UserMessageEvent"
                },
                "type": "array"
              },
              {
                "type": "null"
              }
            ],
            "title": "Messages",
            "description": "Initial task for the agent. A plain string, a single message, or a list of messages."
          },
          "max_steps": {
            "anyOf": [
              {
                "type": "integer",
                "minimum": 1.0
              },
              {
                "type": "null"
              }
            ],
            "title": "Max Steps",
            "description": "Maximum reasoning steps the agent may take. Unbounded if null."
          },
          "max_time_s": {
            "anyOf": [
              {
                "type": "number",
                "exclusiveMinimum": 0.0
              },
              {
                "type": "null"
              }
            ],
            "title": "Max Time S",
            "description": "Maximum wall-clock seconds the agent may run. Unbounded if null."
          },
          "idle_timeout_s": {
            "anyOf": [
              {
                "type": "integer",
                "exclusiveMinimum": 0.0
              },
              {
                "type": "null"
              }
            ],
            "title": "Idle Timeout S",
            "description": "Seconds to keep the session open for follow-up messages after each answer. Null ends the session as soon as the agent answers."
          },
          "group_id": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Group Id",
            "description": "Optional id to group and list related sessions together."
          },
          "parent_session_id": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Parent Session Id",
            "description": "Id of the parent session, when this is a child run."
          },
          "answer_format": {
            "anyOf": [
              {
                "additionalProperties": true,
                "type": "object"
              },
              {
                "type": "null"
              }
            ],
            "title": "Answer Format",
            "description": "JSON Schema the final answer must conform to. Null returns a free-form text answer."
          }
        },
        "type": "object",
        "required": [
          "agent"
        ],
        "title": "SessionRequest",
        "description": "``POST /api/v2/sessions`` body."
      },
      "SessionStatus": {
        "properties": {
          "status": {
            "$ref": "#/components/schemas/TrajectoryStatus",
            "description": "Current lifecycle state of the session."
          },
          "error": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Error",
            "description": "Error message if the session failed; null otherwise."
          },
          "steps": {
            "type": "integer",
            "title": "Steps",
            "description": "Number of steps the agent has taken.",
            "default": 0
          },
          "usage_per_model": {
            "items": {
              "$ref": "#/components/schemas/ModelUsage"
            },
            "type": "array",
            "title": "Usage Per Model",
            "description": "Per-model token usage. Empty until the agent calls a model."
          },
          "subagent_session_ids": {
            "items": {
              "type": "string",
              "format": "uuid"
            },
            "type": "array",
            "title": "Subagent Session Ids",
            "description": "Session ids of any subagents this session spawned."
          }
        },
        "type": "object",
        "required": [
          "status"
        ],
        "title": "SessionStatus",
        "description": "``GET /api/v2/sessions/{id}/status`` response."
      },
      "SessionSummary": {
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "title": "Id"
          },
          "status": {
            "$ref": "#/components/schemas/TrajectoryStatus"
          },
          "first_message": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/UserMessageEvent"
              },
              {
                "type": "null"
              }
            ]
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "title": "Created At"
          },
          "started_at": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "null"
              }
            ],
            "title": "Started At"
          },
          "finished_at": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "null"
              }
            ],
            "title": "Finished At"
          }
        },
        "additionalProperties": false,
        "type": "object",
        "required": [
          "id",
          "status",
          "created_at"
        ],
        "title": "SessionSummary",
        "description": "Flat projection for session listings."
      },
      "ShareLink": {
        "properties": {
          "share_url": {
            "type": "string",
            "title": "Share Url"
          }
        },
        "additionalProperties": false,
        "type": "object",
        "required": [
          "share_url"
        ],
        "title": "ShareLink",
        "description": "Public share URL for a session.\n\n``share_url`` is a path; clients prepend the AgP host. Today this points at the\nv1 share router (``/share/api/v1/trajectories/{id}``); will migrate to\n``/share/v1/sessions/{id}`` once the v2 share router lands."
      },
      "Skill": {
        "properties": {
          "name": {
            "type": "string",
            "minLength": 1,
            "title": "Name",
            "description": "Unique name for this skill in your catalog. Format: lowercase ASCII letters, digits and hyphens; must start and end with alphanumeric; max 63 chars per segment; optional single 'org/' namespace prefix (e.g. 'h/web-environment')."
          },
          "description": {
            "type": "string",
            "minLength": 1,
            "title": "Description",
            "description": "When to use this skill. The agent reads this to decide whether to load it."
          },
          "body": {
            "type": "string",
            "minLength": 1,
            "title": "Body",
            "description": "Markdown instructions the agent loads when it uses the skill."
          },
          "source": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Source",
            "description": "Optional URL the content was sourced from."
          },
          "url_pattern": {
            "anyOf": [
              {
                "type": "string",
                "maxLength": 1024,
                "minLength": 1
              },
              {
                "type": "null"
              }
            ],
            "title": "Url Pattern",
            "description": "Optional regex hinting at URLs where this skill applies."
          }
        },
        "type": "object",
        "required": [
          "name",
          "description",
          "body"
        ],
        "title": "Skill",
        "description": "A named, reusable instruction an agent can draw on during a session."
      },
      "TrajectoryChanges": {
        "properties": {
          "status": {
            "$ref": "#/components/schemas/TrajectoryStatus"
          },
          "started_at": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "null"
              }
            ],
            "title": "Started At"
          },
          "finished_at": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "null"
              }
            ],
            "title": "Finished At"
          },
          "error": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Error"
          },
          "new_events": {
            "items": {
              "$ref": "#/components/schemas/TrajectoryEvent"
            },
            "type": "array",
            "title": "New Events",
            "default": []
          },
          "answer": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "additionalProperties": true,
                "type": "object"
              },
              {
                "type": "null"
              }
            ],
            "title": "Answer"
          },
          "metrics": {
            "$ref": "#/components/schemas/Metrics"
          }
        },
        "type": "object",
        "required": [
          "status"
        ],
        "title": "TrajectoryChanges",
        "description": "Changes to a trajectory.\n\nThis represents a batch of updates returned by the polling API\nwhen checking for new events and status changes on a trajectory.\n\nUsed to incrementally fetch new events without\nre-downloading the entire trajectory history.\n\nAttributes:\n    status: Current status of the trajectory\n    started_at: When the trajectory started execution (None if not yet started)\n    finished_at: When the trajectory finished (None if still running)\n    error: Error message if trajectory failed (None if no error)\n    new_events: List of new events since the last poll (empty if no new events)\n    answer: Answer to the trajectory (None if not available)"
      },
      "TrajectoryEvent": {
        "properties": {
          "type": {
            "type": "string",
            "title": "Type"
          },
          "data": {
            "title": "Data"
          },
          "timestamp": {
            "type": "string",
            "format": "date-time",
            "title": "Timestamp"
          }
        },
        "type": "object",
        "required": [
          "type",
          "data",
          "timestamp"
        ],
        "title": "TrajectoryEvent",
        "description": "Event from a trajectory.\n\nUnified from agp_client and agent_platform.\nUses the richer agent_platform version with screenshot serialization.\n\nEvents represent individual actions, observations, or state changes during\ntrajectory execution. They form a chronological log of everything that happened.\n\nCommon event types:\n- AgentStartedEvent: Agent begins execution\n- AgentCompletionEvent: Agent finishes successfully\n- AgentErrorEvent: Agent encounters an error\n- AgentEvent: Generic wrapper for agent-emitted events (policy_event, tool_result, observation_event)\n- LiveViewUrlEvent: Live view URL becomes available\n- ChatMessageEvent: Agent sends a chat message\n\nAttributes:\n    type: The type/name of the event (e.g., \"AgentStartedEvent\", \"AgentEvent\")\n    data: Event-specific data payload (structure varies by event type)\n    timestamp: When the event occurred"
      },
      "TrajectoryStatus": {
        "type": "string",
        "enum": [
          "pending",
          "running",
          "paused",
          "idle",
          "completed",
          "failed",
          "timed_out",
          "interrupted"
        ],
        "title": "TrajectoryStatus",
        "description": "State of a session/trajectory.\n\nLifecycle::\n\n    PENDING \u2192 RUNNING \u2192 {COMPLETED, FAILED, TIMED_OUT, INTERRUPTED}\n       |        \u2191  \u2191\n       |        |  \u2514\u2500\u2500\u2500\u2500\u2500\u2192 IDLE (interactive: agent waiting for next task)\n       |        \u2193\n       \u2514\u2500\u2500\u2500\u2500\u2500\u2192 PAUSED"
      },
      "UserMessageBatch": {
        "properties": {
          "type": {
            "type": "string",
            "const": "batch",
            "title": "Type",
            "default": "batch"
          },
          "messages": {
            "items": {
              "$ref": "#/components/schemas/UserMessageEvent"
            },
            "type": "array",
            "minItems": 1,
            "title": "Messages"
          }
        },
        "additionalProperties": false,
        "type": "object",
        "required": [
          "messages"
        ],
        "title": "UserMessageBatch",
        "description": "Batch of user messages."
      },
      "UserMessageEvent": {
        "properties": {
          "type": {
            "type": "string",
            "const": "user_message",
            "title": "Type",
            "default": "user_message"
          },
          "message": {
            "type": "string",
            "title": "Message",
            "description": "Message text sent to the agent."
          },
          "images": {
            "items": {
              "type": "string"
            },
            "type": "array",
            "title": "Images",
            "description": "Optional images attached to the message, as base64 data URIs."
          },
          "caller_id": {
            "type": "string",
            "title": "Caller Id",
            "default": "user"
          }
        },
        "type": "object",
        "required": [
          "message"
        ],
        "title": "UserMessageEvent",
        "description": "The user is sending a message to an active agent."
      },
      "ValidationError": {
        "properties": {
          "loc": {
            "items": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "integer"
                }
              ]
            },
            "type": "array",
            "title": "Location"
          },
          "msg": {
            "type": "string",
            "title": "Message"
          },
          "type": {
            "type": "string",
            "title": "Error Type"
          },
          "input": {
            "title": "Input"
          },
          "ctx": {
            "type": "object",
            "title": "Context"
          }
        },
        "type": "object",
        "required": [
          "loc",
          "msg",
          "type"
        ],
        "title": "ValidationError"
      }
    },
    "securitySchemes": {
      "HTTPBearer": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  }
}
